.main-button {
  background-color: $redColor;
  color: white;
  cursor: pointer;
  border: none;
  min-width: 120px;
  border-radius: 6px;
  padding: 8px 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.burger {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background-color: $redColor;
  width: 50px;
  height: 40px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  span {
    display: block;
    background-color: white;
    height: 5px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}
